<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>List Danh Sach</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>List Danh Sach</h1>
<a href="addlist">Add List</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        <tr th:each="contact: ${contacts}">
            <td th:text="${contact.getId()}"></td>
            <td th:text="${contact.getName()}"></td>
            <td th:text="${contact.getEmail()}"></td>
            <td th:text="${contact.getPhone()}"></td>
            <td><a th:href="@{/{id}/edit(id=${contact.getId()})}">edit</a></td>
            <td><a th:href="@{/{id}/delete(id=${contact.getId()})}">delete</a></td>
            <td><a th:href="@{/{id}/view(id=${contact.getId()})}">view</a></td>
    </table>
</div>
</body>
</html>